* {
    margin: 0px;
}

body {
    background-color: rgb(46, 27, 116);
}

@font-face {
    font-family: "konstantine";
    src: url("fonte/KONSTANTINE.ttf");
}

@font-face {
    font-family: "font";
    src: url(fonte/Halloweendy.otf);
}

#cabecalho {
    background-color: rgb(46, 27, 116);
    display: flex;
    width: auto;
    height: 130px;
    padding: 30px;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 125px;
    height: auto;
    background-image: radial-gradient(rgba(255, 255, 255, 0.353) 40%, rgba(255, 255, 255, 0) 70%);
}

#menu {
    display: block;
    background-color: rgb(69, 48, 142);
    width: auto;
    list-style: none;
    font-family: "konstantine";
    font-size: 35px;
    padding: 5px;
    list-style: none;
}

#menu li {
    display: flex;
    background-color: rgb(28, 10, 80);
    border: 3px rgb(100, 24, 24) solid;
    width: 95%;
    padding: 10px 20px 10px 20px;
    height: fit-content;
    justify-content: center;
    margin: 8px;
}

#menu a {
    text-decoration: none;
    color: rgb(129, 17, 9);

}

#burger {
    display: block;
    background-color:  rgb(55, 37, 119);;
    width: 100%;
    height: fit-content;
    padding: 15px;
    color:rgb(0, 0, 0);
}

#conteudo {
    display: flex;
    background-image: url("img/background.png");
    background-size: 250px 250px;
    height: 520px;
    align-items: center;
    justify-content: space-around;
    color: rgb(228, 110, 0);
    font-family: "konstantine";
}

#imageHome {
    border-radius: 30px;
    border: 5px rgb(224, 108, 0) solid;
}

#sobre {
    display: flex;
    background-image: url("img/background.png");
    background-size: 250px 250px;
    height: 520px;
    align-items: center;
    justify-content: space-around;
    color: aqua;
}

#galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    align-content: center;
    padding: 30px;
    align-items: center;
    justify-items: center;
    background-image: url("img/background.png");
    background-size: 250px 250px;
    height: auto;
        
}

#foto {
    width: 350px;
    height: auto;
    border-radius: 30px;
    border: 5px rgb(161, 9, 9) solid;
}

#rodape {
    background-color: rgb(46, 27, 116);
    padding: 30px;
    width: auto;
    height: 120px;
    color: rgb(107, 13, 6);
    text-align: center;
    font-family: "font";
}

#rodape img {
    margin: 10px;
}